*{
    margin: 0;
    padding: 0;
}

.header_form {
    position: relative;
    width: 400px;
    height: 400px;
    background-color:  #B0E0E6;
    margin: 250px auto;
    border: 0.5px solid #000;
}

.reg {
	font-size: 26px;
	position: absolute;
    top: 40px;
    left: 90px;
    color: #000;
}

.your_login {
	position: absolute;
    top: 120px;
    left: 124px;
    color: #000;
	font: bold 24px cursive;
}

.your_pass {
	position: absolute;
    top: 200px;
    left: 124px;
    color: #000;
	font: bold 24px cursive;
}

.your_sub {
	position: absolute;
    top: 305px;
    left: 123px;
    color: #000;
}

.header_page {
    position: relative;
    width: 400px;
    height: 400px;
    background-color:  #B0E0E6;
    margin: 250px auto;
    border: 0.5px solid #000;
}

.new_page{
	font-size: 26px;
	position: absolute;
    top: 40px;
    left: 149px;
    color: #000;
}

.new_log {
	position: absolute;
    top: 120px;
    left: 124px;
    color: #000;
	font: bold 24px cursive;
}

.new_pass {
	position: absolute;
    top: 200px;
    left: 124px;
    color: #000;
	font: bold 24px cursive;
}

.new_sub { 
	position: absolute;
    top: 275px;
    left: 123px;
    color: #000;
}

.new_or { 
	position: absolute;
    top: 313px;
    left: 184px;
    color: #000;
}

.new_reg { 
	position: absolute;
    top: 340px;
    left: 132px;
    color: #000;
}

.new_str { 
	color: #191970;
	font: 20px cursive;
	position: absolute;
    top: 678px;
    left: 710px;	
}

 input{
	height: 23px;
}
